body {
  margin: 0;
  padding: 0cm;
  font-family: "Times New Roman", Times, serif;
}

.App {
  margin: auto;
  display: flex;
  overflow-x: scroll;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #aaa;
  margin-top: 50px;
  color: azure;
  font-weight: 500;
  font-family: Georgia, "Times New Roman", Times, serif;
  max-width: 1000px;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}
.nav {
  width: 30%;
  background-color: #54b1d2;
  height: 100%;
}
.over-scroll {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
.over-scroll::-webkit-scrollbar {
  display: none;
}

.list-message {
  width: 70%;
}
.d-flex {
  display: flex;
}
.mr-auto {
  margin: auto;
}
.w-100 {
  width: 100%;
}
.m-10 {
  margin: 10px;
}
.m-30 {
  margin-top: 30px;
}
.full-width {
  width: 90%;
  margin: 0 auto !important;
}
.m-top-fixed {
  position: fixed;
  bottom: auto;
}
.m-top-fixed-1 {
  position: fixed;
  bottom: auto;
  top: 200px;
}
.active {
  background-color: #2f9ac0;
}
