.avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.image{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}
.image-friend img{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.title{
    width: 80%;
    text-align: center;
    font-size:25px;
    font-weight: 500;
}
/*css list-chat*/
.box-chat{
    width: 100%;
    height: 100%;
    overflow-x: scroll;
}
.list-chat{
    display: flex;
    margin:10px 0;
    background-color: thistle;
    align-items: center;
}

.chat-left{
    margin-left: 20px;
}
.chat-left .name-friend{
    font-weight: bold;
}
.friends i{
    margin: 0 10px;
}

